<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AD_ID" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthAssistant"
        tools:targetApi="35">
        <activity
            android:name=".BloodPressure_HealthGoals"
            android:exported="false" />
        <activity
            android:name=".Cholesterol_HealthGoals"
            android:exported="false" />
        <activity
            android:name=".Stress_HealthGoals"
            android:exported="false" />
        <activity
            android:name=".Stress_HealthGoals_PC"
            android:exported="false" />
        <activity
            android:name=".Sleep_HealthGoals_PC"
            android:exported="false" />

        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".SleepLogs2"
            android:exported="false" />
        <activity
            android:name=".MedicalHistoryConditions_PC"
            android:exported="false" />
        <activity
            android:name=".MedicalHistoryAllergies_PC"
            android:exported="false" />
        <activity
            android:name=".MFAVerifyLogin"
            android:exported="false" />
        <activity
            android:name=".MFAVerify"
            android:exported="false" />
        <activity
            android:name=".RegisterMFASetup2"
            android:exported="false" />
        <activity
            android:name=".RegisterMFASetup"
            android:exported="false" />
        <activity
            android:name=".AddMedication"
            android:exported="false" />
        <!--
        <activity
            android:name=".MedicalHistory"
            android:exported="false" />
        -->
        <activity
            android:name=".MedicationManager2"
            android:exported="false" />
        <activity
            android:name=".FoodPreferences_PC"
            android:exported="false" />
        <activity
            android:name=".DietaryRestrictions_PC"
            android:exported="false" />
        <activity
            android:name=".HealthGoals_PC"
            android:exported="false" />
        <activity
            android:name=".MedicalHistory_PC"
            android:exported="false" />
        <activity
            android:name=".ProfileCustomization"
            android:exported="false" />
        <activity
            android:name=".SymptomLogs"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".MedicationManager"
            android:exported="false" />
        <activity
            android:name=".HealthGoals"
            android:exported="false" />
        <activity
            android:name=".FoodManager"
            android:exported="false" />
        <activity
            android:name=".Appointments"
            android:exported="false" />
        <activity
            android:name=".Homescreen"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity2"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".PinTest"
            android:exported="false" />
        <activity
            android:name=".BarcodeScannerActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>